<!-- templates/common/fragments/userMenu.html -->
<div th:fragment="user-menu" class="user-menu-container">

    <!-- Bootstrap Dropdown -->
    <div class="dropdown">
        <button class="btn dropdown-toggle user-menu-button" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" aria-label="User Menu">
            <!-- 사용자 아이콘 -->
            <i class="fas fa-user-circle"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <!-- 관리자 페이지 버튼 표시: 관리자 계정인 경우만 -->
            <li th:if="${session.isAdmin}"><a class="dropdown-item" href="/admin"><i class="fas fa-cogs me-2"></i>관리자 페이지</a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#userInfoChgModal"><i class="fas fa-user-edit me-2"></i>내 정보 관리</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" onclick="document.getElementById('globalLogoutForm').submit(); return false;"><i class="fas fa-sign-out-alt me-2"></i>로그아웃</a></li>
        </ul>
    </div>

    <!-- 로그아웃을 위한 숨겨진 폼 -->
    <form id="globalLogoutForm" th:action="@{/logout}" method="post" style="display: none;"></form>
</div>