<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.showflix.api.log.mapper.UserActionLogMapper">

    <insert id="insert">
        INSERT INTO sf_user_action_log
            (username, user_name, action, target_table, target_id, description, request_data, created_at)
        VALUES
            (#{username}, #{userName}, #{action}, #{targetTable}, #{targetId}, #{description}, #{requestData}, NOW())
    </insert>

    <select id="findByFilter" resultType="com.showflix.api.log.domain.UserActionLog">
        SELECT id, username, user_name AS userName, action, target_table AS targetTable,
               target_id AS targetId, description, request_data AS requestData, created_at AS createdAt
        FROM sf_user_action_log
        <where>
            <if test="username != null and username != ''">AND username = #{username}</if>
            <if test="action != null and action != ''">AND action = #{action}</if>
            <if test="startDate != null and startDate != ''">AND created_at &gt;= #{startDate}</if>
            <if test="endDate != null and endDate != ''">AND created_at &lt; #{endDate}</if>
        </where>
        ORDER BY created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countByFilter" resultType="int">
        SELECT COUNT(*)
        FROM sf_user_action_log
        <where>
            <if test="username != null and username != ''">AND username = #{username}</if>
            <if test="action != null and action != ''">AND action = #{action}</if>
            <if test="startDate != null and startDate != ''">AND created_at &gt;= #{startDate}</if>
            <if test="endDate != null and endDate != ''">AND created_at &lt; #{endDate}</if>
        </where>
    </select>

    <delete id="deleteOlderThan">
        DELETE FROM sf_user_action_log
        WHERE created_at &lt; #{cutoffDate}
    </delete>

</mapper>
